body{
content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("https://static.tuasaude.com/media/widget/rt/fg/5fbbeb70d4af8/l.jpg");
  background-position: center;
  background-size: cover;
}

.container{
    margin-top: 2rem;
    border: 0.5px solid rgb(255, 255, 255);
    border-radius: 10px;
    width: 700px;
    color: rgb(203, 203, 203);
  }

.lang{
    width: 500px;
    margin: 0 auto;
    color:rgba(32, 30, 30, 0.633);
}

.form-select{
    width: 150px;
}

.btm{
    margin-top: 1rem;
    display: flex;
}

.btn{
    margin-left: 10rem;
    margin-top: 2rem;
}

