<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
    integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
  <title>Quiz App</title>
  <link rel="stylesheet" href="instruct.css">
</head>

<body>
  <div class="container">
    <h1>Exam Instructions</h1>
    <h2>General Guidelines:</h2>
    <p>Please read the following instructions carefully before starting the exam:</p>
    <ol>
      <li>Ensure you have a stable internet connection.</li>
      <li>Use a laptop or desktop computer for better experience.</li>
      <li>Close all unnecessary applications and browser tabs.</li>
    </ol>
    <h2>Exam Format:</h2>
    <p>The exam consists of multiple-choice questions.</p>
    <!-- You can add more instructions here -->
  </div>
  <div class="lang">
    <form id="language-form" action="/quiz" method="post">
      <div class="btm">
      <h3>Choose Language:&nbsp;&nbsp;&nbsp;</h3>
    <select class="form-select" id="language-select" name="Language" >
      <option value="english">English</option>
      <option value="hindi">Hindi</option>
    </select>
  </div>
    <button type="submit" class="btn btn-dark start">Start quiz</button>
  </form>
</div>


</body>

</html>